@model List<User>

@{
    ViewBag.Title = "Users list";
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>NickName</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.UserName</td>
                <td>@b.Email</td>
                <td>
                    <a asp-action="Delete" asp-controller="Account" asp-route-userId="@b.Id" class="btn btn-outline-danger">Delete</a>
                    <a asp-action="UserEdit" asp-controller="Account" asp-route-userId="@b.Id" class="btn btn-outline-dark">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center">Unfortunately, there are currently no registered users :с</h4>
}